Note: There's still a cross-site scripting error below

In [1]:
import beaapi
import numpy as np
import pandas as pd

In [2]:
# Get key from unversioned file
import os
from dotenv import load_dotenv
load_dotenv()
beaKey = os.environ.get("beakey") #and be careful as USERID is passed back in the 'param' dict of many return values.

# Test meta-data

In [3]:
# get_data_set_list()
datasets_info = beaapi.get_data_set_list(beaKey)
dataset_names = list(datasets_info['DatasetName'])
datasets_info

                DatasetName                    DatasetDescription
0                      NIPA                  Standard NIPA tables
1        NIUnderlyingDetail  Standard NI underlying detail tables
2                       MNE             Multinational Enterprises
3               FixedAssets          Standard Fixed Assets tables
4                       ITA   International Transactions Accounts
5                       IIP     International Investment Position
6               InputOutput                     Input-Output Data
7             IntlServTrade          International Services Trade
8             GDPbyIndustry                       GDP by Industry
9                  Regional                    Regional data sets
10  UnderlyingGDPbyIndustry            Underlying GDP by Industry
11       APIDatasetMetaData     Metadata about other API datasets

In [4]:
# get_parameter_list()
param_infos = {dataset_name: beaapi.get_parameter_list(beaKey, dataset_name) for dataset_name in dataset_names}
for dataset_name, param_info in param_infos.items():
    print(dataset_name)
    display(param_info)

NIPA

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Frequency,string,"A - Annual, Q-Quarterly, M-Monthly",1,,1,
1,ShowMillions,string,A flag indicating that million-dollar data sho...,0,N,0,
2,TableID,integer,The standard NIPA table identifier,0,<NA>,0,
3,TableName,string,The new NIPA table identifier,0,<NA>,0,
4,Year,integer,List of year(s) of data to retrieve (X for All),1,,1,X

NIUnderlyingDetail

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Frequency,string,"A - Annual, Q-Quarterly, M-Monthly",1,,1,
1,TableID,integer,The standard NI underlying detail table identi...,0,<NA>,0,
2,TableName,string,The new NIPA table identifier,0,<NA>,0,
3,Year,integer,List of year(s) of data to retrieve (X for All),1,,1,X

MNE

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,DirectionOfInvestment,string,"Four Possible Values: (inward,outward,parent,...",1,,0,<NA>
1,OwnershipLevel,integer,A value of 1 returns data for all affiliates. ...,0,2,0,<NA>
2,NonbankAffiliatesOnly,integer,A value of 1 returns data for nonbank affiliat...,0,2,0,<NA>
3,Classification,string,Classification is a string used to obtain data...,1,<NA>,0,<NA>
4,Country,string,Country is usually a number. Because there ca...,0,<NA>,1,all
5,Industry,string,Industries are denoted by four-digit codes. W...,0,<NA>,1,all
6,Year,integer,Year is a 4-digit numeric variable. To obtain...,1,,1,all
7,State,string,State specifies the U.S. state or states for d...,0,<NA>,1,all
8,SeriesID,string,Series IDs,0,all,1,all
9,GetFootnotes,string,Footnotes for the datavalues,0,no,0,<NA>
10,Investment,string,Investments are denoted by Three-digit codes. ...,0,<NA>,1,all
11,ParentInvestment,string,Investments are denoted by Three-digit codes. ...,0,<NA>,1,all

FixedAssets

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,TableName,string,The new Fixed Assets identifier,1,,0,
1,Year,integer,List of year(s) of data to retrieve (X for All),1,,1,X

ITA

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Indicator,string,The indicator code for the type of transaction...,0,ALL,1,ALL
1,AreaOrCountry,string,The area or country requested,0,AllCountries,1,ALL
2,Frequency,string,"A - Annual, QSA - Quarterly seasonally adjuste...",0,ALL,1,ALL
3,Year,string,Year requested,0,ALL,1,ALL

IIP

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,TypeOfInvestment,string,Type of investment,0,ALL,1,ALL
1,Component,string,Component of changes in position,0,ALL,1,ALL
2,Frequency,string,"A - Annual, QNSA - Quarterly not seasonally ad...",0,ALL,1,ALL
3,Year,string,Year requested,0,ALL,1,ALL

InputOutput

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,TableID,integer,The unique Input-Output table identifier,1,,1,
1,Year,integer,List of year(s) of data to retrieve (ALL for All),1,,1,ALL

IntlServTrade

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,TypeOfService,string,The type of service requested,0,ALL,1,ALL
1,TradeDirection,string,The trade direction requested,0,ALL,1,ALL
2,Affiliation,string,The affiliation requested,0,ALL,1,ALL
3,AreaOrCountry,string,The area or country requested,0,AllCountries,1,ALL
4,Year,string,The year requested,0,ALL,1,ALL

GDPbyIndustry

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Frequency,string,"A - Annual, Q-Quarterly",1,,1,ALL
1,Industry,string,List of industries to retrieve (ALL for All),1,,1,ALL
2,TableID,integer,The unique GDP by Industry table identifier (A...,1,,1,ALL
3,Year,integer,List of year(s) of data to retrieve (ALL for All),1,,1,ALL

Regional

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,MultipleAcceptedFlag,ParameterDefaultValue
0,GeoFips,string,Comma-delimited list of 5-character geographic...,1,1,<NA>
1,LineCode,integer,Line code for a statistic or industry,1,0,<NA>
2,TableName,string,Regional income or product table to retrieve,1,0,
3,Year,string,Comma-delimted list of years; LAST5 for latest...,0,1,LAST5

UnderlyingGDPbyIndustry

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Frequency,string,Q-Quarterly,1,,1,ALL
1,Industry,string,List of industries to retrieve (ALL for All),1,,1,ALL
2,TableID,integer,The unique Underlying GDP by Industry table id...,1,,1,ALL
3,Year,integer,List of year(s) of data to retrieve (ALL for All),1,,1,ALL

APIDatasetMetaData

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag,AllValue
0,Dataset,string,A comma-delimited list of one or more API data...,1,,1,

In [13]:
# Make string  version for get_data()
print("{", end='')
for dataset_name, param_info in param_infos.items():
    if dataset_name!='APIDatasetMetaData':
        print("'{0}': {1},".format(dataset_name.lower(), str(list(param_info['ParameterName']))).lower())
print("}")

{'nipa': ['frequency', 'showmillions', 'tableid', 'tablename', 'year'],
'niunderlyingdetail': ['frequency', 'tableid', 'tablename', 'year'],
'mne': ['directionofinvestment', 'ownershiplevel', 'nonbankaffiliatesonly', 'classification ', 'country', 'industry', 'year', 'state', 'seriesid', 'getfootnotes', 'investment', 'parentinvestment'],
'fixedassets': ['tablename', 'year'],
'ita': ['indicator', 'areaorcountry', 'frequency', 'year'],
'iip': ['typeofinvestment', 'component', 'frequency', 'year'],
'inputoutput': ['tableid', 'year'],
'intlservtrade': ['typeofservice', 'tradedirection', 'affiliation', 'areaorcountry', 'year'],
'gdpbyindustry': ['frequency', 'industry', 'tableid', 'year'],
'regional': ['geofips', 'linecode', 'tablename', 'year'],
'underlyinggdpbyindustry': ['frequency', 'industry', 'tableid', 'year'],
}

In [17]:
search_result = beaapi.search_metadata('', beaKey)
search_result['Datasetname'].unique() #array(['FixedAssets', 'NIPA', 'NIUnderlyingDetail'], dtype=object)

array(['FixedAssets', 'NIPA', 'NIUnderlyingDetail'], dtype=object)

In [5]:
# beaapi.get_parameter_values()
param_vals = {}
for i, (dataset_name, param_info) in enumerate(param_infos.items()):
    #display(param_info)
    params = list(param_info['ParameterName'])
    for param in params:
        if (dataset_name, param) not in param_vals:
            param_vals[(dataset_name, param)] = beaapi.get_parameter_values(beaKey, dataset_name, param)

#display(param_vals[('APIDatasetMetaData', 'Dataset')])
for key, value in param_vals.items():
    print(str(key) + ": " + str(list(value.columns)))

('NIPA', 'Frequency'): ['FrequencyID', 'Description']
('NIPA', 'ShowMillions'): ['ShowMillionsID', 'Description']
('NIPA', 'TableID'): ['TableName', 'Description']
('NIPA', 'TableName'): ['TableName', 'Description']
('NIPA', 'Year'): ['TableName', 'FirstAnnualYear', 'LastAnnualYear', 'FirstQuarterlyYear', 'LastQuarterlyYear', 'FirstMonthlyYear', 'LastMonthlyYear']
('NIUnderlyingDetail', 'Frequency'): ['FrequencyID', 'Description']
('NIUnderlyingDetail', 'TableID'): ['TableNumber', 'Description']
('NIUnderlyingDetail', 'TableName'): ['TableName', 'Description']
('NIUnderlyingDetail', 'Year'): ['TableName', 'FirstAnnualYear', 'LastAnnualYear', 'FirstQuarterlyYear', 'LastQuarterlyYear', 'FirstMonthlyYear', 'LastMonthlyYear']
('MNE', 'DirectionOfInvestment'): ['key', 'desc']
('MNE', 'OwnershipLevel'): ['key', 'desc']
('MNE', 'NonbankAffiliatesOnly'): ['key', 'desc']
('MNE', 'Classification '): ['key', 'desc']
('MNE', 'Country'): ['key', 'desc']
('MNE', 'Industry'): ['key', 'desc']
('MNE', 'Year'): ['key', 'desc']
('MNE', 'State'): ['key', 'desc']
('MNE', 'SeriesID'): ['key', 'desc']
('MNE', 'GetFootnotes'): ['key', 'desc']
('MNE', 'Investment'): ['key', 'desc']
('MNE', 'ParentInvestment'): ['key', 'desc']
('FixedAssets', 'TableName'): ['TableName', 'Description']
('FixedAssets', 'Year'): ['TableName', 'FirstAnnualYear', 'LastAnnualYear', 'FirstQuarterlyYear', 'LastQuarterlyYear', 'FirstMonthlyYear', 'LastMonthlyYear']
('ITA', 'Indicator'): ['Key', 'Desc']
('ITA', 'AreaOrCountry'): ['Key', 'Desc']
('ITA', 'Frequency'): ['Key', 'Desc']
('ITA', 'Year'): ['Key', 'Desc']
('IIP', 'TypeOfInvestment'): ['Key', 'Desc']
('IIP', 'Component'): ['Key', 'Desc']
('IIP', 'Frequency'): ['Key', 'Desc']
('IIP', 'Year'): ['Key', 'Desc']
('InputOutput', 'TableID'): ['Key', 'Desc']
('InputOutput', 'Year'): ['Key', 'Desc']
('IntlServTrade', 'TypeOfService'): ['Key', 'Desc']
('IntlServTrade', 'TradeDirection'): ['Key', 'Desc']
('IntlServTrade', 'Affiliation'): ['Key', 'Desc']
('IntlServTrade', 'AreaOrCountry'): ['Key', 'Desc']
('IntlServTrade', 'Year'): ['Key', 'Desc']
('GDPbyIndustry', 'Frequency'): ['Key', 'Desc']
('GDPbyIndustry', 'Industry'): ['Key', 'Desc']
('GDPbyIndustry', 'TableID'): ['Key', 'Desc']
('GDPbyIndustry', 'Year'): ['Key', 'Desc']
('Regional', 'GeoFips'): ['Key', 'Desc']
('Regional', 'LineCode'): ['Key', 'Desc']
('Regional', 'TableName'): ['Key', 'Desc']
('Regional', 'Year'): ['Key', 'Desc']
('UnderlyingGDPbyIndustry', 'Frequency'): ['Key', 'Desc']
('UnderlyingGDPbyIndustry', 'Industry'): ['Key', 'Desc']
('UnderlyingGDPbyIndustry', 'TableID'): ['Key', 'Desc']
('UnderlyingGDPbyIndustry', 'Year'): ['Key', 'Desc']
('APIDatasetMetaData', 'Dataset'): ['Dataset', 'DatasetDescription', 'JSONUpdateDate', 'XMLUpdateDate']

In [19]:
# get_parameter_values_filtered()

# Figure out which datasets it works with
#beaParamValsFiltered_skip_list = ['NIPA', 'NIUnderlyingDetail', 'MNE', 'FixedAssets', 'APIDatasetMetaData']
#for dataset_name in dataset_names:
#    try:
#        beaapi.get_parameter_values_filtered(beaKey, dataset_name, 'Year', {'TableName':'CAINC5N', 'GeoFips':'01001'})
#    except Exception as e:
#        print(dataset_name + " " + str(e))

# Log of Errors
#   Error Code: 1. Description: This API request is a possible cross-site scripting attempt. Please check your API request. 
example_queries = [
    #{'DataSetName':'ITA', 'Indicator':"BalGds","AreaOrCountry":"China,Brazil","Frequency":"A,QSA,QNSA", "Year":"2011,2012"},
    #{'DataSetName':'ITA', 'Indicator':"BalGds,PfInvAssets","AreaOrCountry":"China","Frequency":"A,QSA,QNSA", "Year":"2011,2012"},
    #{'DataSetName':"IIP", "TypeOfInvestment":"FinAssetsExclFinDeriv","Component":"ALL","Frequency":"ALL","Year":"ALL"},
    #{'DataSetName':"IIP", "TypeOfInvestment":"ALL","Component":"ALL","Frequency":"ALL","Year":"2015"},
    #{'DataSetName':"InputOutput", "Year":"2010,2011,2012,2013","tableID":"56"},
    #{'DataSetName':"IntlServTrade", "AreaOrCountry":"Germany","Year":"1999,2000"}, #Error all
    #{'DataSetName':"IntlServTrade", "TypeOfService":"Telecom", "AreaOrCountry":"Germany,France","Year":"1999,2000"},  # Error all
    #{'DataSetName':"IntlServTrade", "TypeOfService":"Telecom", "AreaOrCountry":"Germany,France","Year":"1999,2000","TradeDirection":"Imports", "Affiliation":"Affiliated"}  # Error all
    #{'DataSetName': 'GDPbyIndustry', 'Year':'2012,2011','Industry':'ALL','tableID':'1, 2', "Frequency":"A,Q"},  # Error all (even if change Industry to 31)
    #{'DataSetName':"underlyingGDPbyIndustry","Year":"2013,2012","Industry":"ALL","tableID":"210,211","Frequency":"A,Q"},  # Error all (even if change Industry to 31)
    {'DataSetName':"Regional","TableName":"CAINC1","LineCode":"2","Year":"2012,2013","GeoFips":"09003,53033"},
    {'DataSetName':"Regional","TableName":"CAINC1","LineCode":"All","Year":"2012,2013","GeoFips":"09001"}   # Error all but LineCode
]
for spec in example_queries:
    dataset_name = spec.pop("DataSetName")
    for key in spec.keys():
        spec_k = spec.copy()
        del spec_k[key]
        try:
            vals = beaapi.get_parameter_values_filtered(beaKey, dataset_name, key, **spec_k)
            print(dataset_name + " " + key + ". " + str(vals.columns))
        except Exception as e:
            #raise e
            print("Error:" + dataset_name + " " + key + ". " + str(spec_k) + ". " + str(e))

Regional TableName. Index(['Key', 'Desc'], dtype='object')
Regional LineCode. Index(['Key', 'Desc'], dtype='object')
Regional Year. Index(['Key', 'Desc'], dtype='object')
Regional GeoFips. Index(['Key', 'Desc'], dtype='object')
Error:Regional TableName. {'LineCode': 'All', 'Year': '2012,2013', 'GeoFips': '09001'}. This API request is a possible cross-site scripting attempt. Please check your API request.
Regional LineCode. Index(['Key', 'Desc'], dtype='object')
Error:Regional Year. {'TableName': 'CAINC1', 'LineCode': 'All', 'GeoFips': '09001'}. This API request is a possible cross-site scripting attempt. Please check your API request.
Error:Regional GeoFips. {'TableName': 'CAINC1', 'LineCode': 'All', 'Year': '2012,2013'}. This API request is a possible cross-site scripting attempt. Please check your API request.